::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #000000; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #dffe00; /* Color del "pulgón" de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde del "pulgón" de la barra de desplazamiento */
}

body {
    overflow: hidden;
    font-family: IBM Plex Sans,sans-serif;
}


.load {
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, -50%);
width: 3.2vw;

}

#load1{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3.2vw;
    display: block;
}

#bg1{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40vw;
    rotate: 180deg;
    filter: opacity(50%);
}


#div1 {
    position: absolute;
    background-color: black;
    width: 101vw;
    height: 101vh;
    top: 0;
    left: 0;
    display: flex;
}

#webTitle {
    position: absolute;
    font-size: 6vw;
    margin-left: 50%;
    margin-top: 85vh;
    transform: translateX(-50%);
    color: #dffe00;
    letter-spacing: 0.6vw;
    
}

#go {
    position: absolute;
    background-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.5vw;
    width: 15vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 2vh;
    margin-left: 83vw;
} #go:hover {
    background-color: #000000;
    color: #dffe00;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #dffe00;
}

#bridge {
    position: absolute;
    background-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.5vw;
    width: 15vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 2vh;
    margin-left: 3vw;
    display: none;
} #bridge:hover {
    background-color: #000000;
    color: #dffe00;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #dffe00;
}

#RRSS {
    position: absolute;
    background-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.5vw;
    width: 15vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 2vh;
    margin-left: 20vw;
    display: none;
} #RRSS:hover {
    background-color: #000000;
    color: #dffe00;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #dffe00;
}

#docs {
    position: absolute;
    background-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.5vw;
    width: 15vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 2vh;
    margin-left: 37vw;
    display: none;
} #docs:hover {
    background-color: #000000;
    color: #dffe00;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #dffe00;
}

#div12 {
    position: absolute;
    background-color: #dffe00;
    width: 35vw;
    height: 63vh;
    top: 44%;
    left: 50%;
    border-radius: 0.5vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0vw 0vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 1.5s;
}

#welText {
    position: absolute;
    text-align: justify;
    width: 25vw;
    font-size: 1.6vw;
    line-height: 4vh;
    transition: ease 1s;
}

#SignDisclaimer {
    position: absolute;
    background-color: #000000;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #dffe00;
    border-radius: 0.5vw;
    width: 10vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 51vh;
    margin-left: 22vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
} #SignDisclaimer:hover {
    background-color: #dffe00;
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    color: #000000;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #000000;
}

#discText{
    position: absolute;
    line-height: 2vh;
}

#seeApps {
    position: absolute;
    background-color: #000000;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #dffe00;
    border-radius: 0.5vw;
    width: 10vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 50vh;
    margin-left: 20vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
} #seeApps:hover {
    background-color: #dffe00;
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    color: #000000;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #000000;
}

#div13 {
    position: absolute;
    background-color: #000000;
    display: block;
    border-color: #dffe00;
    border-style: solid;
    width: 53vw;
    height: 55vh;
    margin-top: 20vh;
    margin-left: -55vw;
    border-radius: 0.5vw;
    box-shadow: inset 0vw 0vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 1.5s;
}

#div14 {
    position: absolute;
    background-color: #00000000;
    display: block;
    
    border-style: none;
    width: 90vw;
    height: 75vh;
    margin-top: 20vh;
    margin-left: 125vw;
    border-radius: 0.5vw;
    
    transition: ease 1.5s;
}

#bankApp {
    position: absolute;
    background-color: #dffe00;
    display: none;
    border-color: #dffe00;
    border-style: solid;
    width: 35vw;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 5vw;
    border-radius: 0.5vw;
    box-shadow: inset 0vw 0vw 0.8vw black;
    transition: ease 1.5s;
}

#appRegMail{
    position: absolute;
    background-color: #dffe00;
    display: none;
    border-color: #dffe00;
    border-style: solid;
    width: 35vw;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 5vw;
    border-radius: 0.5vw;
    box-shadow: inset 0vw 0vw 0.8vw black;
    transition: ease 1.5s;
}

#dash {
    position: absolute;
    background-color: #000000;
    display: block;
    border-color: #dffe00;
    border-style: solid;
    width: 33vw;
    height: 75vh;
    margin-top: 0vh;
    margin-left: 60vw;
    border-radius: 0.5vw;
    box-shadow: inset 0vw 0vw 0.8vw #dffe00;
    transition: ease 1.5s;
}


#ethBal1 {
    position: absolute;
    text-align: justify;
    font-size: 1.3vw;
    margin-top: 2vh;
    margin-left: 1vw;
}

#at1 {
    position: absolute;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: bolder;
    bottom: -2vh;
    right: 1vw;
}

#at2 {
    position: absolute;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: bolder;
    color: white;
    bottom: -2vh;
    right: 1vw;
}

#at3 {
    position: absolute;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    bottom: -2vh;
    right: 1vw;
}

#at4 {
    position: absolute;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    bottom: -2vh;
    right: 1vw;
}

#at5 {
    position: absolute;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    bottom: -2vh;
    right: 1vw;
}

#depoIn {
    position: absolute;
    margin-top: 8vh;
    margin-left: 2vw;
    width: 10vw;
    height: 5vh;
    text-align: center;
    border-radius: 0.3vw;
    border-style: none;
    font-size: 1.3vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: -0.2vw 0.2vw 0.1vw black;
    
} #depoIn:focus {
    outline: none;
}

#depositBut {
        position: absolute;
        background-color: #000000;
        font-size: 1.3vw;
        border-style: solid;
        border-color: #000000;
        color: #dffe00;
        border-radius: 0.5vw;
        width: 10vw;
        height: 7vh;
        font-weight: 700;
        letter-spacing: 0.2vw;
        margin-top: 15vh;
        margin-left: 2vw;
        box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
    } #depositBut:hover {
        
        box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
        cursor: pointer;
        transition: ease, 1s;
        border-color: #000000;
}


#withBut {
    position: absolute;
    background-color: #000000;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #dffe00;
    border-radius: 0.5vw;
    width: 10vw;
    height: 10vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 10.5vh;
    margin-left: 23vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
} #withBut:hover {
    background-color: #dffe00;
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    color: #000000;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #000000;
}

#ethIn {
    position: absolute;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    width: 3.5vw;
    font-size: 1.6vw;
    font-weight: bolder;
    margin-top: 12vh;
    margin-left: 17.5vw;
}

#eth1 {
    position: absolute;

    font-size: 1.8vw;
    font-weight: bolder;
    margin-top: 16vh;
    margin-left: 17.7vw;
}

#wBal {
    position: absolute;
    text-align: justify;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #dffe00;
    top: 2vh;
    right: 1vw;
}

#mmVol {
    position: absolute;
    text-align: justify;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #dffe00;
    top: 2vh;
    left: 1vw;
}

#divP {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 10vh;
    margin-left: 3vw;
}

#divL {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 10vh;
    margin-left: 23vw;
}

#divM {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 32vh;
    margin-left: 23vw;
}

#divCD {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 32vh;
    margin-left: 3vw;
}

#divX1 {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 48vh;
    margin-left: 3vw;
}

#divX3 {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 48vh;
    margin-left: 23vw;
}

.valDash {
    position: absolute;
    width: 7vw;
    background-color: rgba(224, 254, 0, 0);
    font-size: 1.6vw;
    margin-top: 2vh;
    color:#dffe00;
}

.desText {
    position: absolute;
    background-color: #e0fe0000;
    width: 7vw;
    margin-top: 7vh;
}

#divD {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

#divR {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 32vh;
    left: 50%;
    transform: translateX(-50%);
}

#divX2 {
    position: absolute;
    width: 7vw;
    height: 10vh;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    background-color: #d2696900;
    margin-top: 48vh;
    left: 50%;
    transform: translateX(-50%);
}

#myRefCode {
    position: absolute;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #dffe00;
    top: 26vh;
    left: 3.5vw;
}

#configRefer{
    position: absolute;
    margin: 25vh 0.5vw;
    font-size: 2vw;
} #configRefer:hover{
    opacity: 60%;
    cursor: pointer;
}

#codeLink {
    position: absolute;
    text-align: justify;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #ffffff;
    top: -3.5vh;
    left: 13vw;
}


#opti {
    position: absolute;
    background-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #000000;
    border-radius: 0.5vw;
    width: 10vw;
    height: 7vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 65vh;
    margin-left: 1.5vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
} #opti:hover {
    background-color: #dffe00;
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    color: #000000;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #000000;
}

#signDisc{
    position: absolute;
    display: none;
    width: 90%;
    height: 90%;
    font-size: 1vw;
    background-color: #dffe00;
}

#guide1 {
    position: absolute;
    background-color: #00000000;
    display: block;
    
    border-style: none;
    width: 55vw;
    height: 60vh;
    margin-top: 5vh;
    margin-left: -1vw;
    border-radius: 0.5vw;
    
    transition: ease 1.5s;
}

#pas1 {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 15vw;
    height: 25vh;
    padding: 1vw;
    margin: 1vh 1vw;
}

#pas2 {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 15vw;
    height: 25vh;
    padding: 1vw;
    margin: 1vh 20.5vw;
}

#pas3 {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 15vw;
    height: 25vh;
    padding: 1vw;
    margin: 1vh 40vw;
}

#pas4 {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 15vw;
    height: 25vh;
    padding: 1vw;
    margin: 36vh 1vw;
}

#pas5 {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 15vw;
    height: 25vh;
    padding: 1vw;
    margin: 36vh 20.5vw;
}

#pas6 {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 15vw;
    height: 25vh;
    padding: 1vw;
    margin: 36vh 40vw;
}

.pasNum {
    position: absolute;
    font-size: 2vw;
    background-color: #000000;
    color: #dffe00;
    border-color: #dffe00;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    width: 4vw;
    height: 4vw;
    margin: -3vh -1.3vw;
}

.pasT {
    position: absolute;
    font-size: 2vw;
    font-weight: 700;
    margin: -1vh 3.3vw;
}

.past {
    position: absolute;
    text-align: center;
    font-size: 1.3vw;
    margin: 10vh 0.3vw;
    width: 14vw;
}

#appDash {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    margin: 76vh 0vw;
    border-style: solid;
    box-shadow: 0.3vw 0.3vw 0vw rgb(107, 137, 63);
} #appDash:hover {
    box-shadow: 0.2vw 0.2vw 0vw rgb(86, 110, 51);
    background-color: #e3ff12;
    cursor: pointer;
    transition: ease, 1s;
    letter-spacing: 0.1vw;
}

#aptext{
    position: absolute;
    text-align: justify;
    font-size: 3vw;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);

}

#allDapps {
    position: absolute;
    background-color: #dffe00;
    border-radius: 1vw;
    width: 56vw;
    height: 63vh;
    padding: 1vw;
    /*margin: 4vh -0.3vw;*/ 
    margin: 100vh -0.3vw;
    border-style: solid;
    transition: ease, 0.5s;
    
}


.appIcon {
    position: absolute;
    background-color: #000000;
    border-radius: 1vw;
    width: 10vw;
    height: 10vw;
    padding: 1vw;
    color: #dffe00;
    border-style: solid;
    border-color: #dffe00;
    box-shadow: 0.3vw 0.3vw 0vw rgb(107, 137, 63);

} .appIcon:hover {
    box-shadow: 0.2vw 0.2vw 0vw rgb(86, 110, 51);
    background-color: #000000;
    cursor: pointer;
    transition: ease, 1s;
    letter-spacing: 0.1vw;
}

.appIT {
    position: absolute;
    font-size: 2vw;
    font-weight: bolder;
    color: #ffffff;
    bottom:-2vh;
    left: 50%;
    transform: translateX(-50%);

}

#icon1{
    margin: 2vh 1vw;
}

#icon2 {
    margin: 2vh 14.5vw;
}

#icon3 {
    margin: 2vh 28.5vw;
}

#icon4 {
    margin: 2vh 42.5vw;
}

#icon5 {
    margin: 29vh 1vw;
}

#icon6 {
    margin: 29vh 14.5vw;
}

#icon7 {
    margin: 29vh 28.5vw;
}

#icon8 {
    margin: 29vh 42.5vw;
}

.iconImg {
    position: absolute;
    width: 8vw;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#lotteryApp {
    position: absolute;
    background-color: #dffe00;
    display: none;
    border-color: #dffe00;
    border-style: solid;
    width: 37vw;
    height: 40vh;
    margin-top: 15vh;
    margin-left: 5vw;
    border-radius: 0.5vw;
    box-shadow: inset 0vw 0vw 0.8vw black;
    transition: ease 1.5s;
}

#myNum {
    position: absolute;
    margin-top: 12vh;
    margin-left: 2vw;
    width: 10vw;
    height: 5vh;
    text-align: center;
    border-radius: 0.3vw;
    border-style: none;
    font-size: 1.3vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: -0.2vw 0.2vw 0.1vw black;
    
} #myNum:focus {
    outline: none;
}

#lotrules {
    position: absolute;
    font-size: 1.4vw;
    margin: 1vh 1vw;
}

#ticBut {
    position: absolute;
        background-color: #000000;
        font-size: 1.3vw;
        border-style: solid;
        border-color: #000000;
        color: #dffe00;
        border-radius: 0.5vw;
        width: 10vw;
        height: 7vh;
        font-weight: 700;
        letter-spacing: 0.2vw;
        margin-top: 18vh;
        margin-left: 2vw;
        box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
    } #ticBut:hover {
        background-color: #dffe00;
        box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
        color: #000000;
        cursor: pointer;
        transition: ease, 1s;
        border-color: #000000;
    }

    #priceTic{
        position: absolute;
        font-size: 1vw;
        margin: 9vh 2vw;
    }

    #lotFinish {
        position: absolute;
        margin: 12vh 15.6vw;
        color: #000000;
        font-size: 2vw;
    }

    #timeLotT {
        position: absolute;
        margin: 9.2vh 15.65vw;
        color: #000000;
        font-size: 1vw;
        width: 5vw;
    }

    #checkWinnerLot {
        position: absolute;
        background-color: #000000;
        font-size: 1.3vw;
        border-style: solid;
        border-color: #000000;
        color: #dffe00;
        border-radius: 0.5vw;
        width: 10vw;
        height: 14vh;
        font-weight: 700;
        letter-spacing: 0.2vw;
        margin: 12vh 25vw;
        box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
    } #checkWinnerLot:hover {
        background-color: #dffe00;
        box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
        color: #000000;
        cursor: pointer;
        transition: ease, 1s;
        border-color: #000000;
    }
    
    #titYourTicks{
        position: absolute;
        margin: 31vh 2vw
    }

    #prizeLot{
        position: absolute;
        text-align: center;
        margin: 20vh 13.25vw;
        width: 10vw;
    }

    #msgErrorLot1{
        position: absolute;
        display: none;
        text-align: center;
        margin: 26vh 1.25vw;
        font-size: 0.8vw;
        color: red;
    }

    #yourTick{
        position: absolute;
        margin: 34.5vh 2vw;
        display: inline-block;
        white-space: nowrap;
        background-color: rgba(0, 255, 255, 0);
        width: 23vw;
        height: 5vh;
        white-space: nowrap;
    }

    .newTic {
        background-color: #000000;
        color: #ffffff;
        font-size: 1.3vw;
        position: absolute;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 0.5vh;
        height: 3.5vh;
        text-align: center;
        border-radius: 0.5vw;
        margin-left: 1vw;
        position: relative;
        display: inline-block;
        white-space: nowrap;
    }

    #msgLot1 {
        position: absolute;
        font-size: 2vw;
        margin: 9vh 24.5vw;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        display: none;
        text-align: center;
        background-color: #000000;
        color: #ffffff;
        width: 10vw;
        border-radius: 0.5vw;
    }

    #checkInApp {
        position: absolute;
        background-color: #dffe00;
        display: none;
        border-color: #dffe00;
        border-style: solid;
        width: 20vw;
        height: 25vh;
        margin-top: 40vh;
        margin-left: 10vw;
        border-radius: 0.5vw;
        box-shadow: inset 0vw 0vw 0.8vw black;
        transition: ease 1.5s;
    }

    #checkBut {
        position: absolute;
        background-color: #000000;
        font-size: 1.3vw;
        border-style: solid;
        border-color: #000000;
        color: #dffe00;
        border-radius: 5vw;
        width: 10vw;
        height: 10vw;
        font-weight: 700;
        letter-spacing: 0.2vw;
        margin-top: 2.5vh;
        margin-left: 2vw;
        box-shadow: 0.1vw 0.5vw 0vw rgb(107, 137, 63);
} #checkBut:hover {
        background-color: #dffe00;
        box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
        color: #000000;
        cursor: pointer;
        transition: ease, 1s;
        border-color: #000000;
}

#days21 {
    position: absolute;
    background-color: #000000;
    width: 12vw;
    height: 15vh;
    color:#ffffff;
    border-radius: 1vw;
    margin: -20vh 7vw;
    border-color: #dffe00;
    border-style: solid;
}

#days2 {
    position: absolute;
    
    font-size: 3vw;
    color:#dffe00;
    margin-top: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

#d2t {
    position: absolute;
    font-size: 1.2vw;
    width: 10vw;
    color:#ffffff;
    font-weight: bolder;
    text-align: center;
    bottom: -2vh;
    left: 50%;
    transform: translateX(-50%);
}

#regMail{
position: absolute;
background-color: #dffe00;
font-size: 1.3vw;
border-style: solid;
border-color: #000000;
border-radius: 0.5vw;
width: 15vw;
height: 5vh;
font-weight: 700;
letter-spacing: 0.2vw;
margin-top: -9.3vh;
margin-left: 62vw;
box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
display: none;
} #regMail:hover {
background-color: #000000;
color: #dffe00;
cursor: pointer;
transition: ease, 1s;
border-color: #dffe00;
box-shadow: 0vw 0.0vw 0vw rgb(107, 137, 63);
}

#regMailBut {
    position: absolute;
    background-color: #000000;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #dffe00;
    border-radius: 0.5vw;
    width: 10vw;
    height: 7vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    top: 50%;
    transform: translatey(-50%);
    margin-left: 23vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
} #regMailBut:hover {
    
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    cursor: pointer;
    transition: ease, 1s;
    border-color: #000000;
}

#regMailIn {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    margin-left: 2vw;
    width: 20vw;
    height: 5vh;
    text-align: center;
    border-radius: 0.3vw;
    border-style: none;
    font-size: 1.3vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: -0.2vw 0.2vw 0.1vw black;
    
} #regMailIn:focus {
    outline: none;
}

#errorMail{
    position: absolute;
    margin: 19vh 2vw;
    color: red;
    font-size: 1vw;

}

#windowMode1{
    position: absolute;
    width: 58vw;
    height: 68vh;
    padding: 1vw;
    margin: 0vh -2vw;
    background-color: rgba(27, 167, 167, 0);
}

#modeApps {
    position: absolute;
    display: block;
    overflow-Y: scroll;
    overflow-x: hidden;
    width: 57vw;
    height: 68vh;
    padding: 1vw;
    background-color: rgba(27, 167, 167, 0);
}

.modeApp1 {
    position: relative;
    display: block;
    width: 56vw;
    height: 12vw;
    background-color: #000000;
    border-color: #dffe00;
    border-style: solid;
    border-radius: 1vw;
    margin-top: 3vh;
}

.appNum {
    position: absolute;
    font-size: 2vw;
    background-color: #dffe00;
    color: #000000;
    padding: 1vw;
    border-radius: 1vw;
    border-color: #000000;
    border-style: solid;
    margin: -1vh -1vw;
    font-weight: bolder;
}

.appImg{
    position: absolute;
    margin: 3vh 42vw;
    width: 10vw;
}

.goAppEco {
    position: absolute;
    background-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.5vw;
    width: 10vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 15vh;
    margin-left: 42.2vw;
} .goAppEco:hover {
    background-color: #000000;
    color: #dffe00;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #dffe00;
}

.appTit{
    
        position: absolute;
        text-align: justify;
        font-size: 1.8vw;
        font-weight: bolder;
        margin: 0.5vh 3vw;
        font-size: 3vw;
        color: white
}

.appDes{
    position: absolute;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: lighter;
    margin: 9vh 3vw;
    font-size: 1.2vw;
    color: white;
    width: 37vw;
}

#ecos1{
    position: absolute;
    height: 72vh;
    width: 58vw;
}

#return1{
    position: absolute;
    border-color: #dffe00;
    font-size: 1.3vw;
    border-style: solid;
    background-color: #000000;
    color: #dffe00;
    border-radius: 0.5vw;
    width: 10vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: -2vh;
    margin-left: 0.2vw;
    color: rgb(255, 255, 255);
    display: none;
} #return1:hover {
    background-color: #000000;
    color: #dffe00;
    cursor: pointer;
    transition: ease, 1s;
    border-color: #dffe00;
}

#clickApp {
    position: absolute;
    background-color: #dffe00;
    display: none;
    border-color: #dffe00;
    border-style: solid;
    width: 40vw;
    height: 35vh;
    margin-top: 25vh;
    margin-left: 5vw;
    border-radius: 0.5vw;
    box-shadow: inset 0vw 0vw 0.8vw black;
    transition: ease 1.5s;
}


#clickAddPoints {
    position: absolute;
    background-color: #000000;
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #dffe00;
    border-radius: 0.5vw;
    width: 10vw;
    height: 7vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin-top: 17vh;
    margin-left: 25vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(107, 137, 63);
} #clickAddPoints:hover {
    
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    cursor: pointer;
    transition: ease, 1s;
    border-color: #000000;
}

#clickBut {
    position: absolute;
    background: radial-gradient(rgb(0,0,0), rgb(0, 0, 0));
    font-size: 1.3vw;
    border-style: solid;
    border-color: #000000;
    color: #dffe00;
    border-radius: 5vw;
    width: 10vw;
    height: 10vw;
    font-weight: 700;
    letter-spacing: 0.2vw;
    margin: 7vh 5vw;
    box-shadow: 0.5vw 1vw 0vw rgb(107, 137, 63);

} #clickBut:active {
    background: radial-gradient(rgb(0,0,0), rgb(95, 122, 66)); 
    margin: 8vh 5.5vw;
    box-shadow: 0vw 0vw 0vw rgb(107, 137, 63);
    cursor: pointer;
    transition: ease, 0.3s;
    border-color: #000000;
} #clickBut:hover{
    cursor: pointer;
}

#jsPointsH{
    position: absolute;
    font-size: 2vw;
    right: 01vw;
    margin-top: 0vh;
    transform: translateY(-5vh);
    transition: ease, 1s;
    color: white;
    text-shadow: 0vw 0vw 0.3vw rgb(0,0,0);
}

#PointsToAdd{
    position: absolute;
    font-size: 2vw;
    margin: 2vh 20vw;
    color: rgb(0, 0, 0);
}

#mainBar{
    position: absolute;
    width: 40vw;
    height: 5vh;
    margin: -10vh 0vw;
    background-color: #000000;
    border-style: solid;
    border-color: #dffe00;
    border-radius: 1vw;
    box-shadow: inset 0vw 0vw 0.8vw #dffe00;
}

#bar{
    position: absolute;
    width: 0vw;
    height: 4.8vh;
    margin: 0.05vh 0vw;
    background-color: #e0fe00cf;
    background: radial-gradient(#e0fe00cf, #dffe00,#e7fe38);
    border-style: none;
    border-color: #dffe00;
    border-radius: 1vw;
    box-shadow:  0vw 0vw 0.8vw #dffe00;
    transition: ease, 1s;
}
